.filters a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.filters .btn-link1 {
    outline: none !important;
    text-decoration: none !important;
}
.filters .link1 {
    outline: none !important;
    color: #ff3008;
    text-decoration: none !important;
}


.list-cate-page {
    margin: -5px 0px 0px 0px;
}
.filters-card-body {
    padding: 18px 0 0 0;
}
.filters-search {
    position: relative;
}
.filters-search i {
    position: absolute;
    left: 12px;
    top: 13px;
}
.filters-search .form-control {
    padding-left: 34px;
}
.filters .custom-checkbox label.custom-control-label,
.custom-radio label.custom-control-label {
    max-width: 0px;
    padding-top: 2px;
    cursor: pointer;
}
.filters-card .custom-control.custom-checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
.filters-card-header a {
    font-weight: 500;
    width: 100%;
    display: block;
}

.filters-card-header a i {
    margin: 2px -2px 0 0;
}
.filters h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
.filters input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.btn-link1:hover {
    color: #e94a16;
}