/* Why Choose Section CSS Start */
.why-ch {
  padding-top: 40px;
  background-color: #ffffff;
}

.choose-card {
    border: 1px  #010c29;
    padding: 36px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #dee0e4;
    
  }
  
  .choose-card .i11 {
    font-size: 40px;
    color: #010c29;
    background: #9ba3bb;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    right: -5px;
    border: 1px dashed #010c29;
    margin-bottom: 25px;
  }
  
  .choose-card h3 {
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .choose-card p {
    margin-bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .choose-card:hover {
    background: #010c29;
  }
  
  .choose-card:hover i {
    border: 1px dashed #ffffff;
  }
  
  .choose-card:hover h3, .choose-card:hover p {
    color: #ffffff;
  }
  
  /* Why Choose Section CSS End */