
#layoutSidenav {
    display: flex;
    padding-top: 80px;

  }
  .col-2{
z-index: 9;
  /* flex: 1; */
  position: fixed;
  /* overflow-y: auto; */
  height: 1200px;
  display: flex;
  width: 16.6666666667%;


  }
  
  #layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
  }
  #layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
  }
  
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  
  @media (min-width: 400px) {
    #layoutSidenav #layoutSidenav_nav {
      transform: translateX(0);
    }
    #layoutSidenav #layoutSidenav_content {
      margin-left: 200px;
      transition: margin 0.15s ease-in-out;
    }
  
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
      transform: translateX(-225px);
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
      margin-left: -225px;
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
      display: none;
    }
  }
  .sb-nav-fixed .sb-topnav {
    z-index: 1039;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
    padding-top: 56px;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
    overflow-y: auto;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
  }
  
  
  .img-error {
    max-width: 20rem;
  }
  
  .nav .nav-link .sb-nav-link-icon,
  .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    margin-right: 0.5rem;
  }

  
.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
  }
  .sb-topnav .navbar-brand {
    width: 225px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }
  .sb-topnav.navbar-dark #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
  }
  .sb-topnav.navbar-light #sidebarToggle {
    color: #212529;
  }
  
  .sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
  }
  .sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
  }
  .sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 15px;
  }
  .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    border-radius: 6px;
      margin-bottom: 8px;
  
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
  }
  .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    flex-direction: column;
      padding: 10px;
      background: rgb(255 255 255 / 10%);
      border-radius: 6px;
    flex-direction: column;
    margin-bottom: 8px;
  }
  .sb-sidenav .sb-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
  }
  
  .sb-sidenav-dark {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#213bb2+0,102dab+100 */
  background: rgb(33,59,178); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(33,59,178,1) 0%, rgba(16,45,171,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(33,59,178,1) 0%,rgba(16,45,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #ff3008 0%,#2d3f5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213bb2', endColorstr='#102dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
    
    color: rgba(255, 255, 255, 0.5);
  }
  .sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.7);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(255, 255, 255, 0.7);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(255, 255, 255, 0.8);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link.active, .sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#345bff+0,2850ff+100 */
  background: rgb(52,91,255); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(52,91,255,1) 0%, rgba(40,80,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(52,91,255,1) 0%,rgba(40,80,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(52,91,255,1) 0%,rgba(40,80,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#345bff', endColorstr='#2850ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 6%);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #fff;
  }
  .sb-sidenav-dark .sb-sidenav-footer {
    background-color: #2850ff;
  }
  
  .sb-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
  }
  .sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: #adb5bd;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link {
    color: #212529;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: #adb5bd;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: #adb5bd;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
    color: #007bff;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link.active {
    color: #007bff;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #007bff;
  }
  .sb-sidenav-light .sb-sidenav-footer {
    background-color: #e9ecef;
  }
  
 
  
  .sb-topnav .mb-md-0,.my-md-0 {
      margin-bottom: 0 !important;
    }
    
  .sb-topnav .mt-md-0,.my-md-0 {
      margin-top: 0 !important;
    }
    
  .sb-topnav .mt-2,.my-2 {
      margin-top: 0.5rem !important;
    }
  .sb-topnav .mb-2,.my-2 {
    margin-bottom: 0.5rem !important;
  }
  .sb-topnav .mr-md-3,.mx-md-3 {
      margin-right: 1rem !important;
    }
  .sb-topnav .mr-0,.mx-0 {
    margin-right: 0 !important;
  }
  
  
  .sb-topnav .form-inline {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .sb-topnav .form-inline .form-check {
      width: 100%;
    }
  
    .sb-topnav .d-md-inline-block {
      display: inline-block !important;
    }
  
  .layoutSidenav {

    margin: 0 auto;
  }
  .layoutSidenav .body {

    background-color: #fff;
    }
    
#bd2 {
        position:static;
        margin-left: 10px;
        display: inline-block;
        padding: 0.15em 0.65em;
        font-size: .75em;
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        background-color: #13a344;
    }
