.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nav-link .badge {
  position: absolute;
  border-radius: 50px;
  min-width: 15px;
  height: 15px;
  font-size: 9px;
  padding: 0px;
  right: 1px;
  line-height: 15px;
  top: 11px;
}
.badge-danger {
  color: #ebe4d1;
  background-color: #dc3545;
}
.badge-info {
  color: #ebe4d1;
  background-color: #17a2b8;
}

.osahan-nav {
  background: #ebe4d1 none repeat scroll 0 0 !important;
  padding: 0;
  z-index: 9;
}
.osahan-nav .nav-link {
  font-weight: 600;
  padding: 28px 0px !important;
  margin: 0 0 0 31px;
}
.ml-auto {
  align-items: flex-end;
}
.navbar-ouv {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.form-ouvnav1 {
  background-color: #ebe4d1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.45rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.input-group-append .btn-sm {
  padding: 0.45rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.input-group-append button.btn {
  padding: 0.45rem 0.5rem;
}
.nav-osahan-pic {
  width: 32px;
  height: 32px;
  border: 3px solid #ebe4d1;
  box-shadow: 0px 0px 3px #ebe4d1;
  position: relative;
  margin: -8px 5px -6px 0;
  vertical-align: text-top;
}
.dropdown-cart-top {
  border-top: 2px solid #726866;
  min-width: 340px;
}
.dropdown-cart-top-header {
  min-height: 107px;
}
.dropdown-cart-top-header .img-fluid {
  border: 1px solid #ebe4d1;
  border-radius: 3px;
  float: left;
  height: 59px;
  padding: 3px;
  width: 59px;
}
.dropdown-cart-top-header p.text-secondary {
  font-size: 11px;
  line-height: 24px;
  font-weight: 600;
}
.dropdown-cart-top-header h6 {
  font-size: 14px;
}
.food-item {
  border: 1px solid;
  border-radius: 2px;
  display: inline-block;
  font-size: 6px;
  height: 13px;
  line-height: 12px;
  text-align: center;
  width: 13px;
}
.dropdown-cart-top-body .food-item {
  float: left;
  margin: 4px 10px 0 0;
}

.dropdown-list .dropdown-item {
  white-space: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 1px solid #ebe4d1;
  border-right: 1px solid #ebe4d1;
  border-bottom: 1px solid #ebe4d1;
  padding: 0.6rem 1rem;
  line-height: 1.3rem;
}
.dropdown-item {
  padding: 0.6rem 1rem !important;
}
.dropdown-menu {
  border-color: #ebe4d1 !important;
}
.no-arrow .dropdown-toggle::after {
  display: none;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown .dropdown-menu,
.dropdown-item {
  font-size: 0.85rem;
}
.text-gray-500 {
  color: black !important;
}
.dropdown-list-image {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}
.dropdown-list-image img {
  height: 2.5rem;
  width: 2.5rem;
}
.dropdown-list-image .status-indicator {
  background-color: #ebe4d1;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0.125rem solid #ebe4d1;
}
.dropdown-list {
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
  width: 20rem !important;
}
.dropdown .dropdown-menu,
.dropdown-item {
  font-size: 0.85rem;
}
.dropdown-list .dropdown-header {
  background: linear-gradient(45deg, #d6c7c4 0%, #aeb2b8 100%);
  border: 1px solid #ffffff;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  padding: 0.8rem 1rem;
}
.dropdown-list .icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
