@import url('https://fonts.googleapis.com/css?family=Catamaran:400,600|IBM+Plex+Sans:400,500,500i,600,700&display=swap');

/* Font Variables */
$body-font: 'IBM Plex Sans', sans-serif;
$navbar-font: 'Catamaran', sans-serif;

/* Color Variables */
$body-color: #707070;
$heading-color: #001935;
$red-color: #fd1616;
$white-color: #ffffff;

/* Others Variables */
$transition: .5s;
$font-size: 17px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);