// Small devices (landscape phones, 576px and up)
@media (max-width:767px) {
    /* Custom CSS */
    p {
        font-size: 16px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }

    .pb-70 {
        padding-bottom: 20px;
    }

    .section-title {
        margin-bottom: 30px;

        h2 {
            font-size: 25px;
            margin: 0 auto 10px;
            line-height: 1.4;
        }
    }

    
    /* Job Info CSS */
    .looking-job {
        padding: 15px;

        .media {
            display: block;

            .media-body {
                padding-left: 0;
                
                h5 {
                    font-size: 20px !important;
                    margin-top: 12px !important;
                }
            }
        }
    }

    .recruiting-card {
        padding: 15px;

        .media {
            display: block;

            .media-body {
                padding-left: 0;
                
                h5 {
                    font-size: 20px !important;
                    margin-top: 12px !important;
                }
            }
        }
    }
    
    /* Candidate CSS */
    .condidate-item {
        max-width: 100%;
    }

    
    /* Blog CSS */
    .blog-card {
        .blog-text {
            h3 {
                font-size: 18px;
            }
        }
    }

    /* Footer CSS */
    .footer-area {
        .footer-widget {
            &.pl-60 {
                padding-left: 0;
            }
        }
    }

    .copyright-text {
        p {
            line-height: 1.4;
            padding: 0 5px;
        }
    }

    
}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) and (max-width:991px) {
     /* Custom CSS */
    p {
        font-size: 16px;
    }
    .pt-100 {
        padding-top: 70px;
    }
    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }

    .pb-70 {
        padding-bottom: 40px;
    }

    .section-title {
        margin-bottom: 30px;

        p {
            font-size: 17px;
            max-width: 500px;
        }

        h2 {
            font-size: 25px;
            margin: 0 auto 20px;
            line-height: 1.4;
        }
    }

    
    /* Job Info CSS */
    .looking-job {
        padding: 15px;

        .media {
            display: block;

            .media-body {
                padding-left: 0;
                
                h5 {
                    font-size: 20px !important;
                    margin-top: 12px !important;
                }
            }
        }
    }

    .recruiting-card {
        padding: 15px;

        .media {
            display: block;

            .media-body {
                padding-left: 0;
                
                h5 {
                    font-size: 20px !important;
                    margin-top: 12px !important;
                }
            }
        }
    }

    

    

    /* Footer CSS */
    .footer-area {
        .footer-widget {
            &.pl-60 {
                padding-left: 0;
            }
        }
    }
    /*----- Home Page One CSS End -----*/
}

//Large devices (landscape ipad, desktops, 992px and up)
@media (min-width:992px) and (max-width:1199px) {

    /* Blog CSS */
    .blog-card {
        .blog-text {
            h3 {
                font-size: 18px;
            }
        }
    }

    /* Footer CSS */
    .footer-area {
        .footer-widget {
            &.pl-60 {
                padding-left: 35px;
            }

            p {
                font-size: 15px;
            }
        }
    }
    /*----- Home Page One CSS End -----*/
}
    

//Extra large devices (large desktops, 1200px and up)
@media (min-width:1800px) {
    .banner-style-four {
        height: 900px;
        .banner-img {
            max-width: 680px;
        }
    }

    /* Footer CSS */
    .footer-area {
        &::before {
            right: 155px;
            top: 180px;
        }
    }
    /*----- Home Page One CSS End -----*/


}