/*
@File: Jovie Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************
** - Default CSS
** - Header Area CSS
** - Navbar Area CSS
** - Banner Section CSS
** - Category Section CSS
** - Job Section CSS
** - Way To Use CSS
** - Top Company CSS
** - Why Choose CSS
** - Job Info CSS
** - Price CSS
** - Candidate CSS
** - Testimonial CSS
** - Blog CSS
** - Footer CSS
*** - Home Page Two CSS
*** - Home Page Three CSS
*** - Home Page Four CSS
*** - Home Page Five CSS
*** - About Page CSS
*** - Find Jobs Page CSS
*** - Post Jobs Page CSS
*** - Job List Page CSS
*** - Job Grid Page CSS
*** - Job Details Page CSS
*** - Candidates Page CSS
*** - Candidates Details Page CSS
*** - Companies Page CSS
*** - Pricing Page CSS
*** - Account Page CSS
*** - Resume Page CSS
*** - Sign In Page CSS
*** - Sign Up Page CSS
*** - Reset Password CSS
*** - 404 Page CSS
*** - Testimonial CSS
*** - FAQ Page CSS
*** - Categories Page CSS
*** - Privacy Page CSS
*** - Terms Page CSS
*** - Blog Page CSS
*** - Blog Page Two Page CSS
*** - Blog Details Page CSS
*** - Contact Page CSS
*** - Back To Top CSS
*** - Pre-loader CSS
*** - Aniamtion CSS
*/


@import url('https://fonts.googleapis.com/css?family=Catamaran:400,600|IBM+Plex+Sans:400,500,500i,600,700&display=swap');

/* Font Variables */
$body-font: 'IBM Plex Sans', sans-serif;
$navbar-font: 'Catamaran', sans-serif;

/* Color Variables */
$body-color: #707070;
$heading-color: #001935;
$red-color: #fd1616;
$white-color: #ffffff;

/* Others Variables */
$transition: .5s;
$font-size: 17px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);


body {
    font-size: $font-size;
    font-family: $body-font;
    color: $body-color;
    line-height: 1.6;
}

/* Default CSS Start */
img {
    max-width: 100%;
}
a {
    transition: $transition;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
a:focus {
    text-decoration: none;
}

p {
    font-size: $font-size;
    color: $body-color;
    line-height: 1.8;
}

button {
    box-shadow: none;
    border: none;
    background-color: transparent;

    &:focus {
        outline: 0;
    }
}
h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    font-weight: bold;
}
h3 {
    font-size: 22px;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.section-title {
    margin-bottom: 60px;

    h2 {
        font-size: 38px;
        font-weight: 600;
        max-width: 550px;
        margin: 0 auto 10px;
        line-height: 1;
        text-transform: capitalize;
    }

    p {
        max-width: 750px;
        margin: 0 auto;
    }
}

.theme-btn {
    .default-btn {
        font-size: 18px;
        font-weight: 500;
        font-family: $navbar-font;
        background: $red-color;
        color: $white-color;
        margin-right: 15px;
        border: 1px solid transparent;
        padding: 10px 25px;
        display: inline-block;

        &:hover {
            background: $heading-color;
            border: 1px solid $white-color;
        }
    }
}
/* Default CSS End */
