/* Font Variables */
$navbar-font: 'Catamaran', sans-serif;

/* Color Variables */
$heading-color: #001935;
$red-color: #ff8e01;
$white-color: #ffffff;

/* Others Variables */
$transition: .5s;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);

/* Navbar CSS Start */
.navbar-area {
  .main-nav {
      background: #010c29;
      padding: 20px 0;
      position: relative;

      .navbar {
          padding: 0;

          .navbar-brand {
              padding: 0;
          }

          .navbar-nav {
              .nav-item {
                  padding: 10px 0;

                  .nav-link {
                      text-transform: capitalize;
                      font-family: $navbar-font;
                      font-size: 17px;

                      &.dropdown-toggle {
                          &::after {
                              border: 0;
                              content: '\ea17';
                              font-family: 'boxicons';
                              vertical-align: middle;
                              line-height: 1;
                          }
                      }

                      &.active {
                          color: $red-color;
                      }
                  }

                  .dropdown-menu {
                      padding: 0;
                      border-radius: 0;
                      background: none;

                      .nav-item {
                          padding: 0;

                          .nav-link {                    
                              border-bottom: 1px dashed #4d5877;
                              background: #061742;
                              font-size: 15px !important;

                              &.active, &:hover {
                                  color: $white-color;
                                  background: #657294 !important;
                              } 
                          }

                          &:last-child .nav-link {
                              border-bottom: 0;
                          }
                      }
                  }
              }
          }

          .other-option {
              .signin-btn, .signup-btn {
                  color: $white-color;
                  font-family: $navbar-font;
                  font-size: 16px;
                  font-weight: 600;
                  padding: 5px 20px;
                  background: $red-color;
                  border-radius: 5px;

                  &:hover {
                      background: $white-color;
                      color: $heading-color;
                  }
              }

              .signup-btn {
                  background: none;
                  padding: 0;
                  margin-right: 10px;
                  &:hover {
                      color: $red-color;
                      background: none;
                  }
              }
          }
      }
  }
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  box-shadow: $box-shadow;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: all $transition;
  width: 100% !important;
}
/* Navbar CSS End */

.user22 {
  white-space: nowrap;
  color: white;
  padding-left: 10px;
  align-items: center;
}

.img22 {
  width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
          
 