/* Font Variables */
$body-font: 'IBM Plex Sans', sans-serif;
$navbar-font: 'Catamaran', sans-serif;

/* Color Variables */
$body-color: #707070;
$heading-color: #001935;
$red-color: #ff8e01;
$white-color: #ffffff;

/* Others Variables */
$transition: .5s;
$font-size: 17px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);

/* Why Choose CSS Start */
.why-choose {
    background: #010c29;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../../assets/img/shape/why-choose.png);
        background-size: cover;
        background-position: center center;
        top: 0;
        left: 0;
        width: 330px;
        height: 400px;
    }
}

.why-choose-text {
    padding-left: 25px;
    padding-right: 2px;
    text-align: center;
    font-family:  "Comic Sans MS", cursive;


    .section-title {
        margin-bottom: 50px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family:  Times New Roman, Times, serif;

          
    

        h2 {
            color: $white-color;
            font-family:  Times New Roman, Times, serif;
            font-weight: 900;
            max-width: 800px;

            
        }

        p {
            color: $white-color;
            max-width: 500px;
            line-height: 30px;
            font-size: 19px;
            text-transform: capitalize
            
           
            
        
          
        
        }
    }

    .media {
        margin-bottom: 30px;
        display: flex;
        text-align: center;

        i {
            background: #182441;
            font-size: 30px;
            color: $red-color;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 100px;
            display: inline-block;
            position: relative;
            top: -10px;
        }

        .media-body {
            padding-top: 15px;
            padding-left: 15px;

            h5 {
                color: $white-color;
                font-size: 20px;
                font-weight: 600;
            }

            p {
                color: $white-color;
                font-size: 15px;
                max-width: 260px;
                text-align: center;
            }
        }
    }
}




.counter-area {
    .counter-text {
        text-align: center;
        margin-bottom: 30px;
        text-align: center;

        h2 {
            color: $red-color;
            font-size: 45px;
            font-weight: 700;
        }

        p {
            color: $white-color;
            font-weight: 500;
            font-size: 15px;
            text-align: center;
        }
    }
}

.why-choose-img {
    background-image: url(../../assets/img/why.choose.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
}
/* Why Choose CSS End */





.vibrating-text {
    font-size: 24px;
    color: blue;
    animation: vibrateText 1s ease-in-out infinite;
  }
  
  @keyframes vibrateText {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(2deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    75% {
      transform: rotateZ(-2deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }